/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	font-weight: 500;
	color: white;
	background-color: white;
	background-image: url('../img/bg/bg-footer.jpg');
}

.footer-content{
	padding-top: 15px;
	@media (min-width: 992px) {
		padding-top: 250px;
	}
}
.footer-menu{
	@extend .h2-style-1;
	text-align: left;
	display: flex;
	@media (max-width: 991px) {
		display: none;
	}
	h2{
		text-transform: uppercase;
		font-size: em(16);
		padding-bottom: 10px !important;
		&:before{
			width: 40px !important;
			height: 3px !important;
		}
	}
	.item{
		padding: 0 10px;
		&:not(:last-child){
			.list{
				border-right: 1px solid rgba(white, 0.2);
			}
		}
		&:nth-child(3){
			.list{
				max-width: 150px;		
				li{
					width: 100%;
				}
			}
		}
	}
	.list{
		min-height: 180px; 
		//display: flex;
		//flex-wrap: wrap;
		//align-items: center;
		max-width: 360px;
		@extend .letter-none;
		li{
			line-height: 120%;
			width: 50%;
			font-size: em(12);
			padding-right: 10px;
			margin-bottom: 10px;
			display: inline-block;
			vertical-align: top;
		}
	}
}
.footer-socicons{
	li{
		display: inline-block;
		margin-right: 15px;
		.icm{
			font-size: 1.5em;
		}
		@media (max-width: 991px) {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

.subscribe-form{
	.input-content{
		position: relative;
	}
	input{
		padding-right: 117px;
		margin-top: 20px;
	}
	button{
		right: 0;
		top: 0;
		height: 100%;
		position: absolute;
		background-color: $color-1;
		padding: 5px 10px;
		font-weight: 600;
		color: white;
	}
}

.footer-other{
	.links{
		li{
			line-height: 100%;
			&:not(:last-child){
				border-right: 1px solid white;
				padding-right: 8px;
			}
		}
	}
}
.copy-content{
	font-size: 0.85em;
	padding: 20px 0;
	border-top: 4px solid $color-1;
	margin-top: 30px;
	.row{
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}
	}
}
.copyright{
	
}
.dev{
}

