
/*
										 ---HEADER---
*/

$header-top-height: 50px; 
$header-middle-height: 100px; 
$header-bottom-height: 80px;
$header-min-menu: 70px;

#header{
	top: 0;
	z-index: 110;
	right: 0;
	left: 0;
	//position: fixed;
	position: relative;
	pointer-events: none;
	//font-family: $font-family-1;
	&:not([class*="bg-color"]){
		background-color: transparent;
	}
	*{
		pointer-events: auto;
	}
	@media (max-width: 991px){
		//position: fixed;
	}
	h4{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.header-hidden{
	//position: relative;
	height: 95px;
	transition: height 0.3s ease-in-out 0.4s;
	display: none;
	@media ( max-width: 991px ){
		height: 70px;
		display: block;
	}
}
.header-offset{
	height: $header-top-height;
	background-color: $color-gray-4;
	@media (max-width: 991px) {
		//display: none;
		height: 80px;
	}
}

.header-top{
	width: 100%;
	color: white;
	background-color: $color-2;
	border-bottom: 21px solid white;
}
.header-top-content{
	height: $header-top-height;
	//overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	&.align-i-center{
		flex-wrap: nowrap;
	}
	.socicons{
		color: #fff;
		ul{
			letter-spacing: -6px;
			*{
				letter-spacing: 0;
			}
		}
		li{
			height: $header-top-height;
			margin-left: 0;
			a{
				padding: 5px 6px;
			}
		}
	}
}
.header-bottom{
	height: $header-bottom-height;
	color: white;
	background-color: $color-2;
}
.header-bottom-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-user{
	height: 100%;
	@media (min-width: 992px){
		margin-left: 15%;
	}
	.btn-signin{
		height: 100%;
		display: flex;
		align-items: center;
		background-color: $color-1;
		padding: 5px 15px;
	}
}
.header-logo{
	img{
		width: 357px;
	}
}



.header-scroll{
	.header-top{
		transform-origin: 50% 0;
	}

	.header-top, .header-top-content, .header-logo img, .header-logo{
		transition: all 0.5s ease; 	
	}
	&.scrolled, &.header-pages{
		.header-top{
			box-shadow: 0px 5px 20px -10px black;
			background-color: $color-gray-4;
		}
		.header-top-content{
			height: 80px;
			.menu{
				color: white;
			}
		}
		.header-logo{
			img{
				width: 180px;
			}
		}
	}
}



.socicons{
	font-size: 14px;
	text-align: center;
	.list{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	li{
		display: inline-block;
		margin-left: 4px;
		justify-content: center;
		text-align: center;
		font-size: em(16);
		&:hover{
			color: $color-1;
			background-color: rgba(white, 0.1);
		}
		&:nth-child(1){
			margin-left: 0;
		}
		a{
			display: flex;
			height: 100%;
			align-items: center;
			i{
				width: 100%;
			}
		}
	}

}

.menu{
	position: relative;
	height: 100%;
	font-weight: bold;
	//width: 30%;
	font-size: em(14);
	nav{
		white-space: nowrap;
		height: 100%;
	}
	ul:not([class*="sub-menu"]){
		display: flex;
	  justify-content: space-between;
	  text-align: right;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		@extend .letter-none;
		& > li{
			height: 100%;
			display: inline-block;
			position: relative;
			letter-spacing: 0;
			border-top: 2px solid transparent;
			& > a{
				height: 100%;
				display: block;
				padding: 30px 20px;
				position: relative;
				display: flex;
    		align-items: center;
			}
			&.active{
				color: $color-2;
				border-color: $color-1;
			}
			&:hover{
				border-color: $color-1;
				color: $color-1;
				.sub-menu-1{
					transform: matrix(1,0,0,1,0,0);
					opacity: 1;
					//visibility: visible;
					&, li, a{
						pointer-events: auto !important;
					}
					transition: 
											opacity 0.3s ease-in-out,
											transform 0.3s ease-in-out;
				}
			}

		}
	}
	li{
		display: inline-block;
		a{
			transition: all 0.3s ease;
			position: relative;
			z-index: 2;
		}
		&.active{
			background-color: $color-2;
		}

	}
}

ul[class*="sub-menu"]{
	position: absolute;
	font-weight: 300;
	transition:	opacity 0.3s ease-in-out,
							transform 0.3s ease-in-out,
							pointer-events 0s ease-in-out 0.3s;
	opacity: 0;
	z-index: 2;
	box-shadow: 0px 2px 10px -5px rgba(black, 0.5);
	&, li, a{
		pointer-events: none !important;
	}
	li{
		white-space: nowrap;
		width: max-content;
		min-width: 175px;
		width: 100%;
		padding: 0 15px;
		transition: all 0.3s ease;
		background: linear-gradient(to left, #424958, #424958);

		&:not(:last-child){
			border-bottom: 1px solid rgba(black, 0.1);
		}
		&:hover{
			color: white;
			.sub-menu-2{
				opacity: 1;
				transform: none;transform: unset; 
			}
		}
		a{
			position: relative;
			z-index: 1;
			color: white !important;
			display: block;
			transition: all 0.3s ease-in-out;
			padding: 8px 0;
			&:before, &:after{
				display: none;
			}

		}
	}
}
.sub-menu-1{
	white-space: normal;
	text-transform: none;
	transform: matrix(1,0,0,1,0,5);
	transform-origin: 40% 0;
	text-align: left;
}
.sub-menu-2{
	left: 100%;
	margin-top: -40px;
	transform: matrix(1,0,0,1, 10,0);
}














/*
										 ---MIN-MENU---
*/




#min-menu{
	//background-image: url( "../img/other/texture-2.png" );
	//background-color: $color-1;
	background-size: 600px;
	background-position: right;

	.input-box{
		right: auto;
		position: relative;
		display: block;
	}


}
#mm-blocker{
	background-color: rgba(black, 0.3);
}
.min-menu-lang{
	li{
		text-decoration: underline;
	}
	.active{
		color: $color-2;
	}
}



.min-menu-header{
	transition: top 0.3s ease-in-out 0.3s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
  height: $header-min-menu;
  padding: 0 25px;
	z-index: 100;
	color: black;
	box-shadow: 0 0 20px 0 black;
	background-color: white;
	font-size: 0.9em;
	.min-menu-logo{
		padding: 12px 0;
		width: 100%;
		h1{
			font-size: 25px;
		}
		.img{
			background-size: contain;
			background-position: center left;
			height: 45px;
		}
	}
	.min-menu-bar{
		padding: 5px 0;
		.bar{
			transform: scale(0.8);
		}
	}
	.icon-bar{
		background-color: black;
	}
}
.mm-navbars-top{
	//background-color: #333;
}
.mm-opening{
	.min-menu-header{
		opacity: 0 ;
		top: -200px;
	}
	.header-hidden{
		transition: height 0.3s ease-in-out 0.0s;
	}

}



// ---MM-MENU---
.mm-navbar{
	.close-btn{
		width: 35px;
		height: 35px;
	}
}
.mm-slideout{
	z-index: auto;
}
.mm-panel{
	.search-input{
		input{
			border-color: $color-gray-2;
		}
	}
}
.mm-navbar{
	position: relative;
	.close-btn{
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 60px;
		opacity: 0.8;
		[class^="icon"]{
			//box-shadow: 0 0 2px black;
		}
	}
	.min-menu-logo{
		img{
			opacity: 1;
			filter: drop-shadow( 0 -5px 1px darken($color-1, 5%) );
			width:100px;
			margin-top: 15px;
		}
	}
}
// ---MODAL---
.modal{
	@media(max-width:991px ) {
		.flexalign-i-center{
			display: block;
		}
	}
}
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 42px;
		height: 50px;
		right: -5px;
    top: -5px;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}
	}
	.icon-bar{
		background-color: $color-1;
	}
}


.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}
.close-content{
	.icon-bar{
		transform-origin: center;
		margin: -1px;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}

.form-control{
	border-radius: 10px;
	&:focus, &:active, &{
		box-shadow: none;
	}
	resize: none;
	border-width: 0px;
	background-color: $color-gray-3;
	border-color: rgba($color-1, 0.3);
}
textarea.form-control{
	height: 150px;
}




//search nav
.search-nav-content, .input-btnin{
	
	.fa{
		color: $color-gray-2;
		transform: scale(0.8);
		font-size: 20px;
	}
	.search-input-content{
		padding: 0 5px;
		width: 50px;
		height: 50px;
		margin-left: auto;
		position: relative;
		border: none;
		.fa{
			
			
		}
	}
	#search_status{
		&:checked{
			& ~ [for="search_status"]{
				.fa-close{
					display: block;
				}
				.fa-search{
					display: none;
				}

			}
			& ~ .input-box{
				display: block;
			}
		}
	}
	.input-box{
    display: none;
    position: absolute;
    right: 100%;
    height: 35px;
    overflow: hidden;
    top: 50%;
    transform: translate(0, -50%);
	}
	.search-input{
		border: 1px solid $color-gray-1;
    padding: 5px 15px;
    height: 100%;
	}
	.fa{
		width: 20px;
	}
	.fa-close{
		display: none;
	}
	input{
		&:focus{
			//box-shadow: inset 0 0 0px black, -5px -5px 0px 0px darken(white, 12%), 5px 5px 0px 0px $color-2;
		}
	}
	label{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	button{
		background-color: $color-1;
		color: white;
		width: 60px;
    padding: 5px 10px;
    position: absolute;
	  font-size: 1em;
    top: 0;
    right: 0px;
    height: 100%;
    transition: filter 0.3s ease;
    border: 0;
    &:active{
    	filter: brightness(80%);
    }
	}
	&.reverse{
		.search-input{
			border: 1px solid $color-2;
		}
		button{
			background-color: $color-2;
		}
	}
}
.header-lang{
	padding: 3px 5px;
	position: relative;
	img{	
		border: 1px solid rgba(black, 0.1);
	}
	.hide-list{
		position: absolute;
		opacity: 0;
		background-color: $color-2;
		padding: 5px 10px;
    margin-left: -10px;
    margin-top: 15px;
    right: 25px;
    box-shadow: 0px 3px 6px -2px rgba(black, 0.5);
		li{
			margin: 5px 0;
		}

		img{
			
		}
	}
	#langlist{
		&:checked{
			&~.hide-list{
				z-index: 10;
				opacity: 1;
			}
		}
	}
}

.fancymodal{
	
	@media (max-width: 991px){
		input.pie-form-control[type="checkbox"]{
			width: 20px;
			height: 20px;
		}
		.modal-col{
			height: auto !important;
			margin: 15px 0;
			padding-bottom: 15px;
			border-bottom: 1px dotted gray;
		}
	}
}




.form-def{
	background-color: $color-3;
	color: white;
	overflow: visible;
	max-width: 370px;
	@media (min-width: 992px){
		max-width: 470px;
	}
	h2{
		font-size: em(18);
		text-transform: uppercase;
	}
	input{
		&:focus{
			border-color: rgba($color-3, 0.5);
		}
	}
	.fancybox-close-small{
		background: $gradient-1;
		top: 10px;
		width: 36px;
		height: 36px;
		right: -15px;
		&:after{
			@extend .trans-center;
			font-size: 28px;
			font-weight: 600;
		}
	}
	.form-content{
		font-size: 0.9em;
		text-align: center;
		padding: 10px 25px;
		background-color: white;
		color: black;
	}
}

.form-success{
	.icon-content{
		text-align: center;
		.fa{
			color: $color-1;
			font-size: 112px;
		}
	}
}


