@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?41rxa4');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?41rxa4#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?41rxa4') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?41rxa4') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?41rxa4##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-placeholder-filled-point {
  &:before {
    content: $icm-placeholder-filled-point; 
  }
}
.icm-play-button {
  &:before {
    content: $icm-play-button; 
  }
}
.icm-product .path1 {
  &:before {
    content: $icm-product-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-product .path2 {
  &:before {
    content: $icm-product-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-product .path3 {
  &:before {
    content: $icm-product-path3;  
    margin-left: -1em;  
    color: rgb(227, 30, 22);
  }
}
.icm-product .path4 {
  &:before {
    content: $icm-product-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-product .path5 {
  &:before {
    content: $icm-product-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-right-arrow {
  &:before {
    content: $icm-right-arrow; 
  }
}
.icm-rss-symbol {
  &:before {
    content: $icm-rss-symbol; 
  }
}
.icm-shopping-cart {
  &:before {
    content: $icm-shopping-cart; 
  }
}
.icm-target .path1 {
  &:before {
    content: $icm-target-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-target .path2 {
  &:before {
    content: $icm-target-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-target .path3 {
  &:before {
    content: $icm-target-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-target .path4 {
  &:before {
    content: $icm-target-path4;  
    margin-left: -1em;  
    color: rgb(227, 30, 22);
  }
}
.icm-telegram {
  &:before {
    content: $icm-telegram; 
  }
}
.icm-telephone {
  &:before {
    content: $icm-telephone; 
  }
}
.icm-vk {
  &:before {
    content: $icm-vk; 
  }
}
.icm-address {
  &:before {
    content: $icm-address; 
  }
}
.icm-arrow-pointing-to-right {
  &:before {
    content: $icm-arrow-pointing-to-right; 
  }
}
.icm-calendar {
  &:before {
    content: $icm-calendar; 
  }
}
.icm-call-answer {
  &:before {
    content: $icm-call-answer; 
  }
}
.icm-contract {
  &:before {
    content: $icm-contract; 
  }
}
.icm-eye {
  &:before {
    content: $icm-eye; 
  }
}
.icm-facebook-logo {
  &:before {
    content: $icm-facebook-logo; 
  }
}
.icm-help {
  &:before {
    content: $icm-help; 
  }
}
.icm-instagram {
  &:before {
    content: $icm-instagram; 
  }
}
.icm-lamp .path1 {
  &:before {
    content: $icm-lamp-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path2 {
  &:before {
    content: $icm-lamp-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path3 {
  &:before {
    content: $icm-lamp-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path4 {
  &:before {
    content: $icm-lamp-path4;  
    margin-left: -1em;  
    color: rgb(227, 30, 22);
  }
}
.icm-lamp .path5 {
  &:before {
    content: $icm-lamp-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path6 {
  &:before {
    content: $icm-lamp-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path7 {
  &:before {
    content: $icm-lamp-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path8 {
  &:before {
    content: $icm-lamp-path8;  
    margin-left: -1em;  
    color: rgb(227, 30, 22);
  }
}
.icm-lamp .path9 {
  &:before {
    content: $icm-lamp-path9;  
    margin-left: -1em;  
    color: rgb(227, 30, 22);
  }
}
.icm-lamp .path10 {
  &:before {
    content: $icm-lamp-path10;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-lamp .path11 {
  &:before {
    content: $icm-lamp-path11;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-left-arrow-min {
  &:before {
    content: $icm-left-arrow-min; 
  }
}
.icm-left-arrow {
  &:before {
    content: $icm-left-arrow; 
  }
}
.icm-Logo {
  &:before {
    content: $icm-Logo; 
  }
}
.icm-Loogo-text {
  &:before {
    content: $icm-Loogo-text; 
  }
}
.icm-mail-black-envelope-symbol {
  &:before {
    content: $icm-mail-black-envelope-symbol; 
  }
}
.icm-phone-call {
  &:before {
    content: $icm-phone-call; 
  }
}
.icm-box {
  &:before {
    content: $icm-box; 
  }
}
.icm-exit-door {
  &:before {
    content: $icm-exit-door; 
  }
}
.icm-eye-open {
  &:before {
    content: $icm-eye-open; 
  }
}
.icm-family-tree {
  &:before {
    content: $icm-family-tree; 
  }
}
.icm-icon {
  &:before {
    content: $icm-icon; 
  }
}
.icm-locked-padlock {
  &:before {
    content: $icm-locked-padlock; 
  }
}
.icm-portfolio {
  &:before {
    content: $icm-portfolio; 
  }
}
.icm-premium-badge {
  &:before {
    content: $icm-premium-badge; 
  }
}
.icm-settings-gears {
  &:before {
    content: $icm-settings-gears; 
  }
}
.icm-shopping-cart1 {
  &:before {
    content: $icm-shopping-cart1; 
  }
}
.icm-wallet-filled-money-tool {
  &:before {
    content: $icm-wallet-filled-money-tool; 
  }
}

