$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-call-answer: "\e900";
$icm-contract: "\e901";
$icm-eye: "\e902";
$icm-facebook-logo: "\e903";
$icm-help: "\e904";
$icm-instagram: "\e905";
$icm-lamp-path1: "\e906";
$icm-lamp-path2: "\e907";
$icm-lamp-path3: "\e908";
$icm-lamp-path4: "\e909";
$icm-lamp-path5: "\e90a";
$icm-lamp-path6: "\e90b";
$icm-lamp-path7: "\e90c";
$icm-lamp-path8: "\e90d";
$icm-lamp-path9: "\e90e";
$icm-lamp-path10: "\e90f";
$icm-lamp-path11: "\e910";
$icm-left-arrow-min: "\e911";
$icm-left-arrow: "\e912";
$icm-Logo: "\e913";
$icm-Loogo-text: "\e914";
$icm-mail-black-envelope-symbol: "\e915";
$icm-phone-call: "\e916";
$icm-placeholder-filled-point: "\e917";
$icm-play-button: "\e918";
$icm-product-path1: "\e919";
$icm-product-path2: "\e91a";
$icm-product-path3: "\e91b";
$icm-product-path4: "\e91c";
$icm-product-path5: "\e91d";
$icm-right-arrow: "\e91e";
$icm-rss-symbol: "\e91f";
$icm-shopping-cart: "\e920";
$icm-target-path1: "\e921";
$icm-target-path2: "\e922";
$icm-target-path3: "\e923";
$icm-target-path4: "\e924";
$icm-telegram: "\e925";
$icm-telephone: "\e926";
$icm-vk: "\e927";
$icm-address: "\e928";
$icm-arrow-pointing-to-right: "\e929";
$icm-calendar: "\e92a";

