$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-placeholder-filled-point: "\e900";
$icm-play-button: "\e901";
$icm-product-path1: "\e902";
$icm-product-path2: "\e903";
$icm-product-path3: "\e904";
$icm-product-path4: "\e905";
$icm-product-path5: "\e906";
$icm-right-arrow: "\e907";
$icm-rss-symbol: "\e908";
$icm-shopping-cart: "\e909";
$icm-target-path1: "\e90a";
$icm-target-path2: "\e90b";
$icm-target-path3: "\e90c";
$icm-target-path4: "\e90d";
$icm-telegram: "\e90e";
$icm-telephone: "\e90f";
$icm-vk: "\e910";
$icm-address: "\e911";
$icm-arrow-pointing-to-right: "\e912";
$icm-calendar: "\e913";
$icm-call-answer: "\e914";
$icm-contract: "\e915";
$icm-eye: "\e916";
$icm-facebook-logo: "\e917";
$icm-help: "\e918";
$icm-instagram: "\e919";
$icm-lamp-path1: "\e91a";
$icm-lamp-path2: "\e91b";
$icm-lamp-path3: "\e91c";
$icm-lamp-path4: "\e91d";
$icm-lamp-path5: "\e91e";
$icm-lamp-path6: "\e91f";
$icm-lamp-path7: "\e920";
$icm-lamp-path8: "\e921";
$icm-lamp-path9: "\e922";
$icm-lamp-path10: "\e923";
$icm-lamp-path11: "\e924";
$icm-left-arrow-min: "\e925";
$icm-left-arrow: "\e926";
$icm-Logo: "\e927";
$icm-Loogo-text: "\e928";
$icm-mail-black-envelope-symbol: "\e929";
$icm-phone-call: "\e92a";
$icm-box: "\e92b";
$icm-exit-door: "\e92c";
$icm-eye-open: "\e92d";
$icm-family-tree: "\e92e";
$icm-icon: "\e92f";
$icm-locked-padlock: "\e930";
$icm-portfolio: "\e931";
$icm-premium-badge: "\e932";
$icm-settings-gears: "\e933";
$icm-shopping-cart1: "\e934";
$icm-wallet-filled-money-tool: "\e935";

